.head_title {
    float: top;
    align-self: center;
    text-align: center;
    background-image: linear-gradient(rgb(11, 198, 4), rgb(0, 186, 25));
    border-radius: 12.5px;
    font-size: 25px;
    font-family: "Super Lobster";
}

.space {
    height: auto;
}

.main_description {
    float: left;
}

.main_content {
    width: 72.5%;
    display: inline-block;
    background-color: rgb(2, 160, 2);
}

.images figure{
    display: inline-block;
}

.images figure img{
    height: 200px;
    width: 200px;
}

figcaption {
    text-align: center;
}

.left_float_content {
    float: left;
    background-color: rgb(2, 160, 2);
    border-color: darkgreen;
    height: auto;
    margin: auto;
}

.right_float_content {
    float: right;
    width: 22.5%;
    background-color: rgb(2, 160, 2);
    border-color: darkgreen;
    height: auto;
    margin: auto;
}

div {
    border-radius: 12.5px;
}

body {
    background-color: rgb(0, 61, 0);
}

@font-face {
    font-family: Super Lobster;
    src: url(fonts/Super\ Lobster.otf);
}

@font-face {
    font-family: Candy Beans;
    src: url(fonts/Candy\ Beans.otf);
}
